.custom-layout {
  height: 100vh;
  width: 100vw;
}

.custom-layout .header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  box-shadow: 0px 0px 4px -1px grey;
  padding: 0 2rem;
}

.custom-layout .header span {
  font-size: 18px;
  font-weight: 700;
}

.custom-layout .layout-container {
  position: relative;
  height: calc(100vh - 50px);
}

.custom-layout .widgets {
  z-index: 99999;
}

.custom-layout .widgets .list {
  position: absolute;
  right: 0;
  z-index: 99999;
  background-color: #c4c4c4;
  width: 100px;
  padding: 2px;
}
